{% extends 'base.html' %}
{% block title %}
Sequencing Page
{% endblock %}
{% block content %}

<style>
  /* Custom CSS for gradient background */
  .gradient-card {
    background: linear-gradient(to right, #45a7be, #ffa600); /* Change the gradient colors */
    color: #fdfdfc; /* Text color */
    border: none;
  }
  .custom-btn {
    background-color: white;
    color: #45a7be;
    border: none;
  }
  .custom-btn:hover {
    background-color: #17a2b8;
    color: white;
  }
  .draggable {
    cursor: move;
  }
  .dropzone {
    border: 2px dashed #ccc;
    padding: 10px;
    min-height: 200px;
    background-color: #f8f9fa;
  }
  .item-card {
    margin-bottom: 10px;
  }
</style>

<div class="row" style="margin-top:20px; margin-left:20px">
  <div class="col-8">
    <h2>Poses to add to your sequence!</h2>
    <p>Drag a pose to start creating your sequence</p>
    <br>
    <table class="table table-hover table-secondary">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Sanskrit</th>
          <th scope="col">Level</th>
          <th scope="col">Focus</th>
          <th scope="col">Alignment</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <!-- your rows inside the table HERE: -->
        {% for item in items %}
        {% include 'includes/items_modals.html' %}
        <tr id="item-{{ item.id }}" class="draggable" draggable="true" ondragstart="drag(event)">
          <td>{{ item.name }}</td>
          <td>{{ item.sanskrit }}</td>
          <td>{{ item.level }}</td>
          <td>{{ item.focus }}</td>
          <td><img src="{{ item.alignment }}" alt="{{ item.name }} Image" width="100"></td>
          <td>
            <button class="btn btn-outline btn-secondary" data-bs-toggle="modal" data-bs-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
            <button class="btn btn-outline btn-info mt-2" data-bs-toggle="modal" data-bs-target="#Modal-AddConfirm-{{ item.id }}">Add Pose</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <h2>Your Sequence:</h2>
    <br>
    <div id="sequence" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)">
      {% for owned_item in owned_items %}
      {% include 'includes/owned_items_modals.html' %}
      <div id="owned-item-{{ owned_item.id }}" class="col-md-6 item-card">
        <div style="margin-bottom: 5px" class="card text-center gradient-card">
          <div class="card-body">
            <h5 class="card-title">{{ owned_item.name }}</h5>
            <button type="button" class="btn btn-outline-light" style="margin-bottom: 5px" data-bs-toggle="modal" data-bs-target="#Modal-RemoveConfirm-{{ owned_item.id }}">
              Remove this pose
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <a href="{{ url_for('saved_sequences') }}" class="btn custom-btn" style="margin-top: 10px; margin-left: 22px">Saved Sequence</a>
  </div>
</div>

<script>
  function allowDrop(event) {
    event.preventDefault();
  }

  function drag(event) {
    event.dataTransfer.setData("text", event.target.id);
  }

  function drop(event) {
    event.preventDefault();
    var data = event.dataTransfer.getData("text");
    var item = document.getElementById(data);
    var clone = item.cloneNode(true);
    clone.removeAttribute("draggable");
    clone.removeAttribute("ondragstart");
    clone.classList.remove("draggable");
    clone.classList.add("item-card");
    event.target.appendChild(clone);
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
{% endblock %}