{% extends 'base.html' %}
{% block title %}
    Sequencing Page
{% endblock %}

{% block content %}
<table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Integration</th>
                <th scope="col">Sun A</th>
                <th scope="col">Sun B</th>
                <th scope="col">Sun B Plus</th>
                <th scope="col">Standing/Peak</th>
                <th scope="col">Surrender</th>
            </tr>
        </thead>
        <tbody>
            <!-- your rows inside the table HERE: -->
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.integration }}</td>
                <td>{{ item.sun_a }}</td>
                <td>{{ item.sun_b }}</td>
                <td>{{ item.sun_b_plus }}</td>
                <td>{{ item.standing_peak }}</td>
                <td>{{ item.surrender }}</td>
                <td>
                    <button class="btn btn-outline btn-info">More Info</button>
                    <button class="btn btn-outline btn-success">Purchase this item</button>
                </td>
             </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}