{% extends 'base.html' %}
{% block title %}
Sequencing Page
{% endblock %}
{% block content %}

 <style>
    /* Custom CSS for gradient background */
    .gradient-card {
      background: linear-gradient(to right, #45a7be, #ffa600); /* Change the gradient colors */
      color: #fdfdfc; /* Text color */
      border: none;
    }
  </style>

<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
       <h2>Poses to add to your sequence!</h2>
       <p>Click on one of the poses to start creating your sequence</p>
       <br>
      <table class="table table-hover table-secondary">

<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
       <h2>Available items on the Market</h2>
       <p>Click on one of the items to start buying</p>
       <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Sanskrit</th>
                <th scope="col">Level</th>
                <th scope="col">Focus</th>
                <th scope="col">Alignment</th>
                <th scope="col">Options</th>
                <th scope="col">Description</th>
                <th scope="col">Level</th>
                <th scope="col">Focus</th>
            </tr>
        </thead>
        <tbody>
            <!-- your rows inside the table HERE: -->
            {% for item in items %}
            {% include 'includes/items_modals.html' %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.sanskrit }}</td>
                <td>{{ item.level }}</td>
                <td>{{ item.focus }}</td>
                <td><img src="{{ item.alignment }}" alt="{{ item.name }} Image" width="100"></td>
                <td>
                   <button class="btn btn-outline btn-secondary" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                  <button class="btn btn-outline btn-info mt-2" data-toggle="modal" data-target="#Modal-AddConfirm-{{ item.id }}">Add Pose</button>
                <td>{{ item.description }}</td>
                <td>{{ item.level }}</td>
                <td>{{ item.focus }}</td>
                <td>
                   <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                  <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <div class="col-4">
        <h2>Your Sequence:</h2>
        <br>
        <div class="column">
           {% for owned_item in owned_items %}
           {% include 'includes/owned_items_modals.html' %}
             <div class="col-md-6">
                 <div style="margin-bottom: 5px" class="card text-center gradient-card">
                      <div class="card-body">
                          <h5 class="card-title">{{ owned_item.name }}</h5>
                          <button type="button" class="btn btn-outline-light" style="margin-bottom: 5px"
                                  data-toggle="modal" data-target="#Modal-RemoveConfirm-{{ owned_item.id }}">
                              Remove this pose
                          </button>
        <h2>Owned Items</h2>
        <p>Click on sell item to put an item back on the Market</p>
        <br>
        <div class="row">
           {% for owned_item in owned_items %}
           {% include 'includes/owned_items_modals.html' %}
             <div class="col-md-6">
                 <div style="margin-bottom: 5px" class="card text-center bg-dark">
                      <div class="card-body">
                          <h5 class="card-title">{{ owned_item.name }}</h5>
                          <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                  data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                              Sell this Item
                          </button>
                          <p class="card-text"><strong>
                              This item costs {{ owned_item.price }}$
                          </strong></p>
                      </div>
                  </div>
             </div>
           {% endfor %}
        </div>
   </div>
